/* GLOBAL STYLES *******************/ 

html, body {
    background-color: #f7f5fb;
}

h1, h2, h3, h4 {
    font-family: 'Shadows Into Light Two', cursive;
    color: #f7f5fb;
    line-height: inherit;
    margin: 20px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3: {
    font-size: 2em; 
}

h4: {
    font-size: 1.5em;
    display: inline;
}

p {
    font-family: 'Roboto', sans-serif;
    /* color: ; */
    line-height: inherit;
    font-size: 1em;
}

header, #about-me, #codette-club, #education, #design, #development footer {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: column;
}

/* HEADER *******************/ 

header {
    background-image: url("../img/header2.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
}

header h1, h3 {
    color: #084887;
}

nav {
	width: 100%;
}

nav ul {
	list-style: none;
	padding: 0;
}

	nav ul li {
		text-align: center;
		padding-top: 15px;
	}
		nav ul li a {
			font-size: 1em;
			text-transform: uppercase;
			color: #414141;
		}

/* ABOUT ME *******************/

#about-me {
    padding-top: 20px;
    background-color: #084887;
}

.about-me-info {
    margin: 20px;
    text-align: center;
}

#about-me .headshot {
    text-align: center;
    padding: 10px;
}

#about-me p {
    padding: 10px;
    color: #f7f5fb;
}

/* CODETTE CLUB *******************/

#codette-club {
    padding: 20px;
    text-align: center;
}

#codette-club h2 {
    color: #414141;
    text-align: center;
}

#codette-club p {
    padding: 10px;
}

/* EDUCATION *******************/

#education {
    padding: 20px;
    background-color: #084887;
}

#education h2 {
    text-align: center;
}

#education h1#treehouse-count {
    text-align: center;
}

    /*TREEHOUSE BADGE */
        /* Controls width of the widget */
        .badge-container {
            width:700px; margin: 0 auto;
        }

        /* Makes Badges display inline */
        #badges li {
            display: inline;
        }

        /* Controls badges row offset. THIS FUNCTION WILL CHANGE BASED ON THE NUMBER OF BADGES PER ROW */
        /* Indent 30px every eleventh badge, repeat every 20 badges */
        #badges li:nth-child(20n+11) {
            margin-left:30px;
        }

        /* Controls badges size and alignment */
        #badges li img {
          width: 60px; 
          margin:-17px 2px 0px 0px;
        }

        /* Controls Header Formatting */
        .badge-container h1 {
          text-align:center; 
          font-family: 'Robot' sans-serif; 
          /*font-weight: bold; */
          -webkit-font-smoothing: antialiased;
        }

        /* Controls badges on-hover opacity */
        #badges li img:hover {
            opacity:.7;
        }

/* DESIGN & DEVELOPMENT *******************/

#design, #development {
    padding: 20px;
}

#design h2, #development h2 {
    color: #414141;
    text-align: center;
}

    .card-deck {
        margin: 10px;
    }
    
    .card {
        margin-bottom: 10px;
    }

    .card-img-top {
        width: 100%;
    }
    
    .card-block {
        background-color: #f7f5fb;
    }
    .card-title {
        font-size: 1.75em;
    }
    .card-title a {
        color: #084887;
    }

/* FOOTER *******************/

footer {
    background-color: #084887;
    font-size: 1em;
    text-align: center;
    padding: 20px;
}

    footer .fa {
        padding: 10px;
        margin-right: 15px;
        color: #f7f5fb;
    }

    footer ul {
        list-style: none;
    }

        footer ul li {
            display: inline-block;
        }

    footer p {
        color: #f7f5fb;
    }

/* MEDIA QUERIES */
@media (min-width: 768px) {
    /* Tablet styles here */
    #about-me, #education, #design, development {
        padding-top: 25px;
    }
    header h1, header h3 {
        text-align: center;
    }
    nav {
        font-size: .75em;
    }
    nav ul {
	   list-style: none;
    }
    nav ul li {
        display: inline-block;
        font-size: .8em;
        text-align: center;
        padding: 0 11px 0 11px;
    }
    h4 {
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
    }
    #codette-club .img-thumbnail {
        width: 30%;
        display: block;
        margin: auto;
    }
    #codette-club p {
        float: right;
    }
    .card-title {
        font-size: 1.75em;
        color: #a53037;
    }
    footer {
        font-size: 1em;
    }
}

@media (min-width: 940px) {
    header h1 {
        text-align: left;
        font-size: 5em;
        padding: 25px;
    }
    header h3 {
        text-align: left;
        font-size: 4em;
        padding: 25px;
        padding-top: 20px;
    }
    nav {
        font-size: .75em;
    }
    nav ul {
	   list-style: none;
        text-align: center;
    }
    nav ul li {
        display: inline-block;
    }
    nav ul li a:hover {
        color: #084887;
    }
    #about-me, #education, #projects {
        text-align: center;
    }
    #about-me-info {
        text-align: left;
        float: right;
    }
    .about-me-info h4 {
        font-size: 3.5em;
        padding: 20px;
    }
    #about-me .headshot {
        align-content: center;
        padding: 0 20px 0 40px;
    }
    #about-me p {
        align-content: left;
        float: right;
        margin: 20px;
        padding: 20px;
    }
    #codette-club .img-thumbnail {
        align-content: center;
        float: left;
        padding: 0 20px 0 40px;
    }
    #codette-club p {
        align-content: center;
        float: right;
        margin: 20px;
        padding: 20px;
    }
    p {
        font-size: 1.25em;
    }
    .card-deck {
        padding: 0 20px 0 40px;   
    }
    #development .card-img-top {
        width: 100%;
        height: auto;
        size: contain;
    }
    .card-title {
        font-size: 2em;
        color: #a53037;
    }
    .card-text {
        font-size: 1em;
    }
    footer .fa {
        font-size: 1.25em;
    }
    footer p {
        font-size: 1em;
    }
}